USE [Ing.Software]
GO
/****** Object:  Table [dbo].[Bitacora_43BO]    Script Date: 02/06/2026 23:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora_43BO](
	[IdEvento_43BO] [int] IDENTITY(1,1) NOT NULL,
	[DNIuser_43BO] [int] NOT NULL,
	[Fecha_43BO] [datetime] NOT NULL,
	[Modulo_43BO] [nvarchar](50) NOT NULL,
	[Evento_43BO] [nvarchar](50) NOT NULL,
	[Criticidad_43BO] [int] NOT NULL,
 CONSTRAINT [PK_Bitacora_43BO] PRIMARY KEY CLUSTERED 
(
	[IdEvento_43BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_43BO]    Script Date: 02/06/2026 23:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_43BO](
	[IdFamilia_43BO] [int] IDENTITY(1,1) NOT NULL,
	[NombreFamilia_43BO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Familia_43BO] PRIMARY KEY CLUSTERED 
(
	[IdFamilia_43BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Familia]    Script Date: 02/06/2026 23:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Familia](
	[IdFamiliaPadre_43BO] [int] NOT NULL,
	[IdFamiliaHijo_43BO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamiliaPadre_43BO] ASC,
	[IdFamiliaHijo_43BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente_43BO]    Script Date: 02/06/2026 23:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente_43BO](
	[IdPatente_43BO] [int] IDENTITY(1,1) NOT NULL,
	[NombrePatente_43BO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Patente_43BO] PRIMARY KEY CLUSTERED 
(
	[IdPatente_43BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente_Familia]    Script Date: 02/06/2026 23:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente_Familia](
	[IdFamilia_43BO] [int] NOT NULL,
	[IdPatente_43BO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFamilia_43BO] ASC,
	[IdPatente_43BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_43BO]    Script Date: 02/06/2026 23:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_43BO](
	[IdRol_43BO] [int] NOT NULL,
	[NombreRol_43BO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol_43BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Familia]    Script Date: 02/06/2026 23:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Familia](
	[IdRol_43BO] [int] NOT NULL,
	[IdFamilia_43BO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol_43BO] ASC,
	[IdFamilia_43BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Patente]    Script Date: 02/06/2026 23:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Patente](
	[IdRol_43BO] [int] NOT NULL,
	[IdPatente_43BO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol_43BO] ASC,
	[IdPatente_43BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios_43BO]    Script Date: 02/06/2026 23:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios_43BO](
	[IdUser_43BO] [int] IDENTITY(1,1) NOT NULL,
	[DNI_43BO] [int] NOT NULL,
	[Nombre_43BO] [nvarchar](50) NOT NULL,
	[Apellido_43BO] [nvarchar](50) NOT NULL,
	[Bloqueado_43BO] [bit] NOT NULL,
	[Email_43BO] [nvarchar](50) NOT NULL,
	[Activo_43BO] [bit] NOT NULL,
	[Hash_43BO] [nvarchar](max) NOT NULL,
	[Rol_43BO] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios_43BO_1] PRIMARY KEY CLUSTERED 
(
	[DNI_43BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora_43BO] ON 

INSERT [dbo].[Bitacora_43BO] ([IdEvento_43BO], [DNIuser_43BO], [Fecha_43BO], [Modulo_43BO], [Evento_43BO], [Criticidad_43BO]) VALUES (2, 46498814, CAST(N'2026-04-28T22:59:33.523' AS DateTime), N'Usuario', N'Desactivar', 2)
INSERT [dbo].[Bitacora_43BO] ([IdEvento_43BO], [DNIuser_43BO], [Fecha_43BO], [Modulo_43BO], [Evento_43BO], [Criticidad_43BO]) VALUES (3, 46498814, CAST(N'2026-05-01T19:16:03.517' AS DateTime), N'Usuario', N'Login', 1)
INSERT [dbo].[Bitacora_43BO] ([IdEvento_43BO], [DNIuser_43BO], [Fecha_43BO], [Modulo_43BO], [Evento_43BO], [Criticidad_43BO]) VALUES (4, 45678912, CAST(N'2026-05-01T19:24:56.973' AS DateTime), N'Usuario', N'Login', 1)
GO
SET IDENTITY_INSERT [dbo].[Bitacora_43BO] OFF
GO
SET IDENTITY_INSERT [dbo].[Patente_43BO] ON 

INSERT [dbo].[Patente_43BO] ([IdPatente_43BO], [NombrePatente_43BO]) VALUES (1, N'GestionUsuarios_Acceso')
INSERT [dbo].[Patente_43BO] ([IdPatente_43BO], [NombrePatente_43BO]) VALUES (2, N'GestionUsuarios_Alta')
INSERT [dbo].[Patente_43BO] ([IdPatente_43BO], [NombrePatente_43BO]) VALUES (3, N'GestionUsuarios_Desbloquear')
SET IDENTITY_INSERT [dbo].[Patente_43BO] OFF
GO
INSERT [dbo].[Rol_43BO] ([IdRol_43BO], [NombreRol_43BO]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol_43BO] ([IdRol_43BO], [NombreRol_43BO]) VALUES (2, N'Básico')
GO
INSERT [dbo].[Rol_Patente] ([IdRol_43BO], [IdPatente_43BO]) VALUES (1, 1)
INSERT [dbo].[Rol_Patente] ([IdRol_43BO], [IdPatente_43BO]) VALUES (1, 2)
INSERT [dbo].[Rol_Patente] ([IdRol_43BO], [IdPatente_43BO]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Usuarios_43BO] ON 

INSERT [dbo].[Usuarios_43BO] ([IdUser_43BO], [DNI_43BO], [Nombre_43BO], [Apellido_43BO], [Bloqueado_43BO], [Email_43BO], [Activo_43BO], [Hash_43BO], [Rol_43BO]) VALUES (1003, 11222333, N'Martin', N'Martinez', 0, N'Martin@gmail', 1, N'b2835a48f99bdbe2c0176f286c6059721a374011d32d89d16795266f1e2c922d', 2)
INSERT [dbo].[Usuarios_43BO] ([IdUser_43BO], [DNI_43BO], [Nombre_43BO], [Apellido_43BO], [Bloqueado_43BO], [Email_43BO], [Activo_43BO], [Hash_43BO], [Rol_43BO]) VALUES (1008, 22666555, N'Pepe', N'Pepe', 0, N'Pepe@gmail.com', 1, N'7c9e7c1494b2684ab7c19d6aff737e460fa9e98d5a234da1310c97ddf5691834', 2)
INSERT [dbo].[Usuarios_43BO] ([IdUser_43BO], [DNI_43BO], [Nombre_43BO], [Apellido_43BO], [Bloqueado_43BO], [Email_43BO], [Activo_43BO], [Hash_43BO], [Rol_43BO]) VALUES (1004, 44555666, N'Marcelo', N'Caceres', 0, N'marce@gmail.com', 1, N'a36b91001a3b0fe052b4b3f882a1d16f6963cbc82d5c770d5565c7dc4e217502', 2)
SET IDENTITY_INSERT [dbo].[Usuarios_43BO] OFF
GO
/****** Object:  Index [UQ_DNI]    Script Date: 02/06/2026 23:08:17 ******/
ALTER TABLE [dbo].[Usuarios_43BO] ADD  CONSTRAINT [UQ_DNI] UNIQUE NONCLUSTERED 
(
	[DNI_43BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios_43BO] ADD  CONSTRAINT [DF_Usuarios_43BO_Bloqueado_43BO]  DEFAULT ((0)) FOR [Bloqueado_43BO]
GO
ALTER TABLE [dbo].[Usuarios_43BO] ADD  CONSTRAINT [DF_Usuarios_43BO_Activo_43BO]  DEFAULT ((1)) FOR [Activo_43BO]
GO
ALTER TABLE [dbo].[Bitacora_43BO]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_43BO_Usuarios_43BO] FOREIGN KEY([DNIuser_43BO])
REFERENCES [dbo].[Usuarios_43BO] ([DNI_43BO])
GO
ALTER TABLE [dbo].[Bitacora_43BO] CHECK CONSTRAINT [FK_Bitacora_43BO_Usuarios_43BO]
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD FOREIGN KEY([IdFamiliaPadre_43BO])
REFERENCES [dbo].[Familia_43BO] ([IdFamilia_43BO])
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD FOREIGN KEY([IdFamiliaHijo_43BO])
REFERENCES [dbo].[Familia_43BO] ([IdFamilia_43BO])
GO
ALTER TABLE [dbo].[Patente_Familia]  WITH CHECK ADD FOREIGN KEY([IdFamilia_43BO])
REFERENCES [dbo].[Familia_43BO] ([IdFamilia_43BO])
GO
ALTER TABLE [dbo].[Patente_Familia]  WITH CHECK ADD FOREIGN KEY([IdPatente_43BO])
REFERENCES [dbo].[Patente_43BO] ([IdPatente_43BO])
GO
ALTER TABLE [dbo].[Rol_Familia]  WITH CHECK ADD FOREIGN KEY([IdFamilia_43BO])
REFERENCES [dbo].[Familia_43BO] ([IdFamilia_43BO])
GO
ALTER TABLE [dbo].[Rol_Familia]  WITH CHECK ADD FOREIGN KEY([IdRol_43BO])
REFERENCES [dbo].[Rol_43BO] ([IdRol_43BO])
GO
ALTER TABLE [dbo].[Rol_Patente]  WITH CHECK ADD FOREIGN KEY([IdPatente_43BO])
REFERENCES [dbo].[Patente_43BO] ([IdPatente_43BO])
GO
ALTER TABLE [dbo].[Rol_Patente]  WITH CHECK ADD FOREIGN KEY([IdRol_43BO])
REFERENCES [dbo].[Rol_43BO] ([IdRol_43BO])
GO
ALTER TABLE [dbo].[Usuarios_43BO]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_43BO_Rol_43BO] FOREIGN KEY([Rol_43BO])
REFERENCES [dbo].[Rol_43BO] ([IdRol_43BO])
GO
ALTER TABLE [dbo].[Usuarios_43BO] CHECK CONSTRAINT [FK_Usuarios_43BO_Rol_43BO]
GO
